<h1>Let's play some Hangman!</h1>

<%= form_for(@game) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.submit "Start game" %>
<% end %>

<br>

<%= button_to "Back to games list", games_path, method: :get %>
