<h2>Game: <%= @game.status.humanize %></h2>
<p>User: <%= @game.username %></p>

<h3>You are trying to guess: <%= @game.obfuscated_letters("*") %></h3>

<h3>Guesses:</h3>
<ul>
  <%= render @game.guesses %>
</ul>

<%= render template: "guesses/new" %>