<h2>Game: <%= @game.status.humanize %></h2>
<p>User: <%= @game.username %></p>

<h3>You are trying to guess: <%= @game.obfuscated_letters("*") %></h3>

<h3>You have <%= @game.lives %> lives remaining...</h3>

<h3>Guesses:</h3>
<ul>
  <%= render @game.guesses %>
</ul>

<%= render partial: "new_guess", collection: @game.unguessed_letters, as: :letter %>
